$color1: rgb(0, 24, 24);
$color2: rgb(255, 255, 255);
$color3: rgb(239, 123, 69);
$color4: rgb(94, 177, 191);
$color5: rgb(0,0,0);
$color6: #D5B9B2;



$btncolor1: lightgray;
$btncolor2: gray;
$btncolor3: white;