@charset "UTF-8";
.pawnD2 {
  position: absolute;
  -webkit-animation: move1 1s ease-in 3s forwards;
          animation: move1 1s ease-in 3s forwards;
}

.pawnF7 {
  position: absolute;
  -webkit-animation: move2 1s ease-in 4.5s forwards;
          animation: move2 1s ease-in 4.5s forwards;
}

.bishopC1 {
  position: absolute;
  -webkit-animation: move3 1s ease-in 6s forwards, move5 1s ease-in 9s forwards, move8half 0.5s ease-in 13.5s forwards;
          animation: move3 1s ease-in 6s forwards, move5 1s ease-in 9s forwards, move8half 0.5s ease-in 13.5s forwards;
}

.pawnH7 {
  position: absolute;
  -webkit-animation: move4 1s ease-in 7.5s forwards;
          animation: move4 1s ease-in 7.5s forwards;
}

.pawnG7 {
  position: absolute;
  -webkit-animation: move6 1s ease-in 10.5s forwards, move8 1s ease-in 13.5s forwards;
          animation: move6 1s ease-in 10.5s forwards, move8 1s ease-in 13.5s forwards;
}

.pawnE2 {
  position: absolute;
  -webkit-animation: move7 1s ease-in 12s forwards;
          animation: move7 1s ease-in 12s forwards;
}

.queenD1 {
  position: absolute;
  -webkit-animation: move9 1s ease-in 15s forwards;
          animation: move9 1s ease-in 15s forwards;
}

.checkmate-container {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row: 4;
      grid-row-start: 4;
  opacity: 0;
  text-align: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
  font-weight: 200;
  -webkit-animation: cmate1 1.5s ease-in 18s forwards;
          animation: cmate1 1.5s ease-in 18s forwards;
}

@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-185px);
            transform: translateX(0) translateY(-185px);
  }
}

@keyframes move1 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-185px);
            transform: translateX(0) translateY(-185px);
  }
}

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(185px);
            transform: translateX(0) translateY(185px);
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(185px);
            transform: translateX(0) translateY(185px);
  }
}

@-webkit-keyframes move3 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(375px) translateY(-375px);
            transform: translateX(375px) translateY(-375px);
  }
}

@keyframes move3 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(375px) translateY(-375px);
            transform: translateX(375px) translateY(-375px);
  }
}

@-webkit-keyframes move4 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(92.5px);
            transform: translateX(0) translateY(92.5px);
  }
}

@keyframes move4 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(92.5px);
            transform: translateX(0) translateY(92.5px);
  }
}

@-webkit-keyframes move5 {
  0% {
    -webkit-transform: translateX(375) translateY(-375);
            transform: translateX(375) translateY(-375);
  }
  100% {
    -webkit-transform: translateX(467.5px) translateY(-282.5px);
            transform: translateX(467.5px) translateY(-282.5px);
  }
}

@keyframes move5 {
  0% {
    -webkit-transform: translateX(375) translateY(-375);
            transform: translateX(375) translateY(-375);
  }
  100% {
    -webkit-transform: translateX(467.5px) translateY(-282.5px);
            transform: translateX(467.5px) translateY(-282.5px);
  }
}

@-webkit-keyframes move6 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(185px);
            transform: translateX(0) translateY(185px);
  }
}

@keyframes move6 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(185px);
            transform: translateX(0) translateY(185px);
  }
}

@-webkit-keyframes move7 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-185px);
            transform: translateX(0) translateY(-185px);
  }
}

@keyframes move7 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-185px);
            transform: translateX(0) translateY(-185px);
  }
}

@-webkit-keyframes move8 {
  0% {
    -webkit-transform: translateX(0) translateY(185px);
            transform: translateX(0) translateY(185px);
  }
  100% {
    -webkit-transform: translateX(92.5px) translateY(277.5px);
            transform: translateX(92.5px) translateY(277.5px);
  }
}

@keyframes move8 {
  0% {
    -webkit-transform: translateX(0) translateY(185px);
            transform: translateX(0) translateY(185px);
  }
  100% {
    -webkit-transform: translateX(92.5px) translateY(277.5px);
            transform: translateX(92.5px) translateY(277.5px);
  }
}

@-webkit-keyframes move8half {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move8half {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes move9 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(375px) translateY(-375px);
            transform: translateX(375px) translateY(-375px);
  }
}

@keyframes move9 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(375px) translateY(-375px);
            transform: translateX(375px) translateY(-375px);
  }
}

@-webkit-keyframes cmate1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    visibility: hidden;
  }
  25% {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    visibility: visible;
  }
  50% {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    opacity: 1;
    -webkit-transform: scale(5, 5);
            transform: scale(5, 5);
    visibility: visible;
  }
  75% {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    opacity: 1;
    -webkit-transform: scale(5, 5);
            transform: scale(5, 5);
    visibility: visible;
  }
  100% {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    visibility: hidden;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
}

@keyframes cmate1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    visibility: hidden;
  }
  25% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    visibility: visible;
  }
  50% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    -webkit-transform: scale(5, 5);
            transform: scale(5, 5);
    visibility: visible;
  }
  75% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    -webkit-transform: scale(5, 5);
            transform: scale(5, 5);
    visibility: visible;
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    visibility: hidden;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 10% 10% 20% 10% 10% 20%;
      grid-template-columns: 20% 10% 10% 20% 10% 10% 20%;
  -ms-grid-rows: 10% 10% 20% 20% 20% 20%;
      grid-template-rows: 10% 10% 20% 20% 20% 20%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(bg.jpg);
  background-size: cover;
}

.base {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.board {
  border: 1px solid;
  height: 748px;
  width: 748px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 10px 10px #5c5c64;
          box-shadow: 0 10px 10px #5c5c64;
}

.box1,
.box2 {
  height: 93.5px;
  width: 93.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}

.box1 {
  background-color: gray;
}

.box2 {
  background-color: lightcyan;
}

h1 {
  display: inline-block;
  -webkit-animation: move1 2s ease-in;
          animation: move1 2s ease-in;
  color: white;
}
/*# sourceMappingURL=style.css.map */